[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "deepeval"]
	path = deepeval
	url = https://github.com/confident-ai/deepeval.git
[submodule "tests/deepeval"]
	path = tests/deepeval
	url = https://github.com/confident-ai/deepeval.git
